*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
models/
*.pyc
log.txt
*train.txt
*val.txt
*.weights
data/*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
